:root {
  --mainCayenne:#935347;
  --deepNavy:#273b60;
  --mainCream:#fcf8e0;
  --mainWhite:#fff7f7;
  --mainDark:#232528;
  --mainOrange:#ffa400;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Bungee Inline', cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-products {
  font-family: 'Bungee Shade', cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-cayenne {
  color: var(--mainCayenne);
}

.text-navy {
  color: var(--deepNavy);
}

.text-orange {
  color: var(--mainOrange);
}

.btn-black {
  background: trasnparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainOrange);
}
